.font {
  font-family: "Poppins";
  font-style: normal;
}

.bookmark {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookmark__box {
  height: 77%;
  width: 78%;
  border-radius: 4px;
  border: 1.5px solid #9a9a9a;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.bookmark__text-box {
  width: 80%;
  height: 38px;
  font-weight: 400;
  display: inline-block;
  text-align: center;
  background: #000000;
  border-radius: 10px;
  margin: 0 0 0px 0;
}

.bookmark__text {
  line-height: 100%;
  font-size: 13px;
  color: white;
}

.bookmark__item-img {
  width: 40px;
  height: 40px;
  margin-left: 25px;
  border-radius: 6px;
}
.bookmark__item-text {
  max-width: 100px;
  margin-left: 20px;
  font-size: 14px;
  font-weight: bold;
}

.bookmark__item-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.bookmark__delete-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
  margin-right: 15px;
  width: 20px;
  height: 20px;
  background-image: url("./../img/delete.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}
