.font {
  font-family: "Poppins";
  font-style: normal;
}

.recommand_item_emoji {
  width: 100%;
  background-color: rgba(65, 175, 249, 0.2);
  margin-bottom: 20px;
  border-radius: 30px;
  height: 205px;
}

.recommend_text_emoji {
  height: 205px;
  width: 48%;
  margin-left: 25px;
  display: flex;
  flex-direction: column; /* Vertical alignment */
  align-items: center; /* Horizontal center alignment */
  justify-content: space-between; /* Distribute space between top and bottom */
}

.recommend-item__container {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}

.recommend-item__img {
  border-radius: 12px;
  margin-top: 0px;
  width: 40%;
  height: 40%;
  z-index: 0;
  position: relative;
  transition: width 0.3s, height 0.3s; /* Smooth transition for hover effect */
}

.recommend-item__img:hover {
  height: 100%;
  width: 105%;
  z-index: 1; /* Bring the hovered image to the front */
}

.recommend-item__text {
  width: auto;
  margin-right: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  max-width: 250px;
  align-self: center; /* Horizontal center alignment */
  margin-top: 70px;
}

.recommend-item__list {
  height: 100%;
}

.recooment_icon_class {
  align-self: center; /* Horizontal center alignment */
  margin-bottom: 10px; /* Optional bottom margin */
}

.heart-icon {
  width: auto;
  height: 27px;
  cursor: pointer;
  margin-right: 0px;
  z-index: 1;
  position: relative;
  /* margin-bottom: 120px; */
}

.couple-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  margin-right: 5px;
  margin-left: 8px;
}

.recommend-item__icon-container {
  background-color: rgba(65, 175, 249, 0.3); /* Background color */
  display: inline-flex; /* Changed to inline-flex */
  border-radius: 8px;
  align-items: center;
  margin-top: 10px;
  min-width: 50px; /* Minimum width */
  padding: 4px 10px; /* Inner padding */
  box-sizing: border-box; /* Box size includes padding */
  margin-right: 5px;
}

.recommend-item__icon-text {
  font-size: 13px;
  white-space: nowrap; /* Prevent text wrapping */
  margin-top: 4px;
  margin-bottom: 4px;
  color: black;
  font-weight: bold;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
}
